body {
  background-color: #191919;
  padding-top: 60px;
}

body::-webkit-scrollbar {
  width: 5px;
  -webkit-transition: .4s;
  transition: .4s;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #323232;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #464646;
}

body::-webkit-scrollbar-thumb:hover body::-webkit-scrollbar {
  background-color: red;
}

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  padding: 0 5px;
  height: 60px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 7px;
  background: rgba(40, 40, 40, 0.99);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 0px 0px 20px 20px;
}

.header__title {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #8C43EA), to(#B06AB3));
  background: linear-gradient(to right, #8C43EA 30%, #B06AB3);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradient_animation 7s linear infinite;
          animation: gradient_animation 7s linear infinite;
}

@-webkit-keyframes gradient_animation {
  to {
    background-position: 200% center;
  }
}

@keyframes gradient_animation {
  to {
    background-position: 200% center;
  }
}

.title__part {
  font-family: 'Akaya Telivigala';
  font-weight: 400;
  line-height: 48px;
}

.title__part.part-1 {
  font-size: 48px;
}

.title__part.part-2 {
  font-size: 28px;
}

.main {
  width: 100%;
  height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.account {
  position: fixed;
  right: 16px;
  top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  background-color: #8C43EA;
  border-radius: 30px;
  padding: 24px;
  font-family: 'Roboto';
}

.account__title {
  font-size: 20px;
  font-weight: bold;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__title {
  font-size: 30px;
  margin-bottom: 16px;
  color: white;
  font-family: 'Roboto';
}

.catalog__books {
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 70vh;
  gap: 8px;
  padding: 10px;
}

.catalog__books::-webkit-scrollbar {
  width: 5px;
  -webkit-transition: .4s;
  transition: .4s;
}

.catalog__books::-webkit-scrollbar-track {
  background: transparent;
}

.catalog__books::-webkit-scrollbar-thumb {
  background-color: #323232;
  border-radius: 20px;
}

.catalog__books::-webkit-scrollbar-thumb:active {
  background-color: #464646;
}

.catalog__books::-webkit-scrollbar-thumb:hover body::-webkit-scrollbar {
  background-color: red;
}

.catalog__book {
  min-height: 80px;
  background-color: #8C43EA;
  padding: 10px 20px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 450px;
  max-width: 500px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book__info {
  font-family: 'Roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.book__buy {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: rgba(25, 25, 25, 0.6);
  color: #fff;
  font-family: 'Roboto';
  -webkit-box-shadow: 0 0 10px 1px #000;
          box-shadow: 0 0 10px 1px #000;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  cursor: pointer;
}

.book__buy:hover {
  background-color: rgba(25, 25, 25, 0.45);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.book__buy:active {
  background-color: rgba(25, 25, 25, 0.8);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0 0 3px 1px #000;
          box-shadow: 0 0 3px 1px #000;
}
/*# sourceMappingURL=style.css.map */