$header-height: 60px;

body {
  background-color: rgb(25, 25, 25);
  padding-top: $header-height;

  // Scrollbar styling
  &::-webkit-scrollbar {
    width: 5px;
    transition: .4s;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    // background-color: #8C43EA;
    background-color: rgb(50, 50, 50);
    border-radius: 20px;

    &:active {
      background-color: rgb(70, 70, 70);
    }
    &:hover {
      body::-webkit-scrollbar {
        // width: 8px;
        background-color: red;
      }
    }
  }
}


// ---------------------------------------HEADER----------------------------------------
.header {
  position: fixed;
  z-index: 999;
  top: 0;

  width: 100%;
  padding: 0 5px;
  height: $header-height;
}

.header__container {
  display: flex;

  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 7px;

  background: rgba(40, 40, 40, 0.99);
  backdrop-filter: blur(15px);
  border-radius: 0px 0px 20px 20px;
  // box-shadow: 0 0 3px 1px #fff;
}

.header__title {
  text-decoration: none;

  background: linear-gradient(to right, #8C43EA 30%, #B06AB3);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: gradient_animation 7s linear infinite;
  
  @keyframes gradient_animation {
    to {
      background-position: 200% center;
    }
  }
}

.title__part {
  font-family: 'Akaya Telivigala';
  font-weight: 400;
  line-height: 48px;

  &.part-1 {
    font-size: 48px;
  }
  &.part-2 {
    font-size: 28px;
  }
}


// ----------------------------------------MAIN-----------------------------------------
.main {
  width: 100%;
  height: calc(100vh - 60px);  // When i use $header-height variable the error "invalid property value" is returned 
  display: flex;
  align-items: center;
  justify-content: center;
}

.account {
  position: fixed;
  right: 16px;
  top: $header-height + 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  background-color: #8C43EA;
  border-radius: 30px;
  padding: 24px;

  font-family: 'Roboto';
}

.account__title {
  font-size: 20px;
  font-weight: bold;
}

.catalog {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.catalog__title {
  font-size: 30px;
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto';
}

.catalog__books {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  gap: 8px;
  padding: 10px;

  // Scrollbar styling
  &::-webkit-scrollbar {
    width: 5px;
    transition: .4s;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    // background-color: #8C43EA;
    background-color: rgb(50, 50, 50);
    border-radius: 20px;

    &:active {
      background-color: rgb(70, 70, 70);
    }
    &:hover {
      body::-webkit-scrollbar {
        // width: 8px;
        background-color: red;
      }
    }
  }
}

.catalog__book {
  min-height: 80px;
  background-color: #8C43EA;
  padding: 10px 20px;
  border-radius: 15px;

  display: flex;
  min-width: 450px;
  max-width: 500px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.book__info {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.book__buy {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;

  background-color: rgba(25, 25, 25, 0.6);
  color: #fff;
  font-family: 'Roboto';
  box-shadow: 0 0 10px 1px #000;
  transition: .4s;
  transition-delay: 0s;
  cursor: pointer;
  
  &:hover {
    background-color: rgba(25, 25, 25, 0.45);
    transform: scale(1.05);
  }
  &:active {
    background-color: rgba(25, 25, 25, 0.8);
    transform: scale(1);
    box-shadow: 0 0 3px 1px #000;
  }
}
